<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.dao.UserMapper">

	<!-- 新增用户 -->
    <insert id="saveNewUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO USERS (id, organizationid, username, name,mobile,fullpinyin, email,createuser,orginternalcode,createdate)
        VALUES (s_users.nextval,12,#{userName},#{name},#{mobile},#{fullpinyin},#{email},'admin','.1.2.',sysdate)
    </insert>
    
	<select id="findByDataTable" resultType="User">
        select * from (select u.*,rownum rownu from (SELECT * FROM  USERS  ORDER BY USERNAME DESC ) u 
        		where rownum&lt;=#{start}+#{length} )tt
        where tt.rownu>#{start}
    </select>
    
    
    
    <update id="updateUser" parameterType="User">
        UPDATE USERS SET name = #{name},mobile = #{mobile},email = #{email}
        where id = #{id}
    </update>
    

 	<select id="count" resultType="long">
        SELECT COUNT(*) FROM USERS
    </select>

	<select id="findUserCountByParam" resultType="long">
        SELECT COUNT(*) FROM USERS
    </select>
    
    
    <select id="findUserByName" parameterType="string" resultType="User">
    	select * from users WHERE username = #{username,jdbcType=VARCHAR}
    </select>
    
    <select id="findUserByid" parameterType="long" resultType="User">
    	select * from users WHERE id = #{id,jdbcType=NUMERIC}
    </select>
    
    <select id="delUserById" parameterType="long">
    	delete from users WHERE id = #{id,jdbcType=NUMERIC}
    </select>
    
    
    
</mapper>